* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;   
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 24px;
}

header, footer {
    background-color: #1F2937;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav #headerLogo {
    color: #FFF;
    font-size: 24px;
}

header nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    gap: 30px;
} 

header nav ul li a {
    color: #F9FAF8;
    font-size: 18px;
}


section.hero {
    height: 400px;
    padding: 60px 0;
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
}

section.hero div {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

section.hero div:first-child {
    color: #F9FAF8;
}

section.hero div:first-child h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
}

section.hero div:first-child p {
    font-size: 18px;
    color: #E5E7Eb;
    margin: 15px 0;
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 26px;
}

#signUpBtn {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
    padding: 10px 40px ;
    cursor: pointer;
    transition:      0.3s ease-out;
}


#signUpBtn:hover {
    background-color: #3881f685;
    transform: translateY(-4px);
}

section.hero div:last-child {
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #6D747D;
    color: #F9FAF8;
    border-radius: 6px;
}
/* *** */

section#information h2 {
    font-size: 32px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 24px 0;
}

.cards__wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.cards__wrapper .card {
   padding: 24px;
   text-align: center;
   display: flex;
   flex-flow: column nowrap;
   gap: 10px;
   text-align: center; /*apagar depois da inserção das imagens*/
}

.card__image {
    border: 3px solid #3882F6;
    width: 100%;
    height: 140px;
    line-height: 140px;
    border-radius: 6px;
}
/* *** */
section#quote {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
}

section#quote p:first-child {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: justify;
}

section#quote p:last-child {
    padding: 10px 0;
    text-align: right;
}
/* *** */
section#cta {
    height: 240px;
    display: flex;
    align-items: center; 
}

section#cta .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 6px;
}

section#cta div:first-child {
    color: #fff;
}

section#cta div:first-child p {
    font-weight: 200
}

section#cta div:last-child button {
    border: 1px solid #F9FAF8;
    background: none;
    padding: 6px 30px;
    color: #F9FAF8;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

section#cta div:last-child button:hover {
    background-color: #e5e7eb3c;
}
/* *** */
footer {
    color: #F9FAF8;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    padding: 24px 0;
}